:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --color-text-primary: #757575;
  --color-text-secondary: #212121;
  --color-accent: #2196f3;
  --color-white-primary: #f8f8f8;
  --color-white-secondary: #f5f4fa;
}
body {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-primary);
  background-color: #ffffff;
}

/* a {
  text-decoration: none;
} */

.list {
  list-style: none;
}

/* header */

/* header-logo */

.logo {
  font-family: var(--font-secondary);
  color: var(--color-accent);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo .header {
  color: #000000;
}

/* nav-menu */
.site-nav .link {
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-accent);
}

.site-nav .link.current {
  color: var(--color-accent);
}

/* header-contacts */
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-primary);
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--color-accent);
}

/* footer */
.address .text {
  font-style: normal;
}

.address span {
  font-style: normal;
  color: var(--color-white-primary);
}

.footer .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white-primary);
}

.logo .footer {
  color: var(--color-white-primary);
}

.address .link {
  font-style: normal;
  text-decoration: none;
  color: var(--color-text-primary);
}

.address .link:hover,
.address .link:focus {
  color: var(--color-accent);
}

/* index.html */

/* sections-main */

/* section-hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

/* button-order */
.button {
  color: var(--color-text-secondary);
  background-color: var(--color-white-primary);
}

.button.primary {
  color: var(--color-white-primary);
  background-color: var(--color-accent);
}

.button.secondary {
  color: var(--color-text-secondary);
  background-color: var(--color-white-secondary);
}

.button.secondary:hover,
.button.button.secondary:focus {
  color: var(--color-white-primary);
  background-color: var(--color-accent);
}

/* section-advantages */
.feature-list .title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-text-secondary);
}

/* section-activities */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-text-secondary);
}

.examples-list .title {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white-primary);
}

/* section-team */
.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-text-secondary);
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center
}

/* portfolio.html */

/* section-our-works-examples */

.portfolio-list .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-secondary);
}

.portfolio-list .link {
  text-decoration: none;
}

.portfolio-list .text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text-primary);
}

.portfolio-list .hover-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-white-primary);
}
